* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 15px;
}

window#waybar {
  background-color: rgba(29, 32, 33, 0.9);
}

button {
  margin: 0;
  padding: 0;
  box-shadow: none;
  border: none;
}

button:hover {
  background: none;
  box-shadow: none;
  text-shadow: none;
  transition: none;
}

#workspaces button {
  color: rgb(235, 219, 178);
  margin: 0 1px;
}

#workspaces button.empty {
  color: rgb(102, 92, 84);
}

#workspaces button.visible {
  color: rgb(215, 153, 33);
}

#workspaces {
  margin-left: 2px;
}

#window {
  color: rgb(235, 219, 178);
  margin-left: 10px;
}

#network,
#cpu,
#memory,
#wireplumber,
#clock,
#custom-separate,
#tray {
  color: rgb(235, 219, 178);
  margin: 0 5px;
}

#tray menu {
  color: rgb(235, 219, 178);
  background-color: rgb(29, 32, 33);
}
